@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    background: #f7f5f5;
    overflow: auto;
}


/* ─── Header ─────────────────────────────────────────────────────────────── */

header {
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border-radius: 0px 0px 0px 120px;
    margin-bottom: 10em;
}


/* ─── Header Nav ─────────────────────────────────────────────────────────── */

.navbar {
    position: relative;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.navbar a {
    color: #000;
}

.navbar .logo {
    color: #6070FF;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    align-items: center;
    text-align: center;
}

.nav-links ul {
    display: none;
}


/* ─── Header Container ───────────────────────────────────────────────────── */

.container {
    background-image: url(./images/header-shapes\ mobile@2x.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}


/* ─── Personal-info ────────────────────────────────────────────── */

.personal-info {
    padding-top: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 25px;
}

.personal-info h2 {
    padding: 10px 35px;
    color: #172B4D;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}

.personal-info p {
    padding: 0px 35px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    padding-bottom: 10px;
}

.personal-info .socail-media {
    padding: 10px 0px 0px 30px;
}

.socail-media h3 {
    color: #7F8CFF;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 0px 15px;
}


/* ─── Social-Media ─────────────────────────────────────────────── */

.socail-media .social-icon {
    display: flex;
    justify-items: flex-start;
    align-items: center;
}

.social-icon li {
    padding: 10px;
}


/* ─── Portfolio ──────────────────────────────────────────────────────────── */

.container-portfolio {
    margin: 40px;
    display: flex;
    gap: 12px;
    flex-direction: column;
}

.portfolio1 {
    margin-bottom: 5em;
    padding: 30px;
    background: #fff;
    border: 1px solid #DFE1E6;
    border-radius: 20px;
}

.portfolio1 .banner img {
    flex: none;
    width: 100%;
}

.project-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.project-title h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172B4D;
}

.project-1 .outline {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.project-1 .outline li {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.project-1 .outline .dev {
    color: #7A869A;
}

.project-1 .outline .dot {
    height: 10px;
    width: 10px;
    margin-top: 5px;
    background-color: #C1C7D0;
    border-radius: 100%;
}

.project-1 p {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}

.project-1 .tags {
    padding-top: 10px;
    padding-bottom: 20px;
}

.project-1 .tags .skill {
    background: #EBEBFF;
    padding: 10px;
    border-radius: 5px;
    color: #6070FF;
}

.action .btn {
    padding: 18px;
    font-size: 15px;
    font-weight: 500;
    color: #6070FF;
    background-color: #fff;
    border: 1px solid #6070FF;
    border-radius: 8px;
    cursor: pointer;
}

.action .btn:hover {
    background-color: #6070FF;
    color: #fff;
    transition: all 0.8s ease;
}


/* ─── About Myself ───────────────────────────────────────────────────────── */

.about-myself {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.about-info {
    padding: 60px;
}

.about-info h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    padding: 0px 50px 10px 0px;
}

.about-info p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
}

.about-info .action {
    padding-top: 20px;
}

.about-info .languages {
    margin: 30px 0px 30px;
}

.about-info .languages h3 {
    padding: 20px 0px 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.about-info .languages .lang-tag {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-info .languages .lang-tag span {
    background-color: #f2f2f7;
    border-radius: 8px;
    padding: 20px 0px 20px;
    display: flex;
    gap: 10px;
}

.about-info .languages .lang-tag span h3 {
    padding: 10px 10px;
}

.about-info .languages .lang-tag span img {
    padding: 0px 10px 0px 10px;
    width: 66px;
}

.about-info .others {
    padding: 20px 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.others a {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
    padding-right: 30px;
}

.others .framework {
    font-weight: 500;
    size: 20px;
    line-height: 25px;
}


/* ─── Contact-me Form ────────────────────────────────────────────────────── */

.contact {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    background: #6070FF;
    border-radius: 80px 0px 0px 0px;
    padding: 40px 0px 40px;
    background-image: url('./images/contact-form-mobile.svg');
    background-repeat: no-repeat;
    background-position: right;
}

.contact .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.contact-info h2 {
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    color: #FFF;
    padding: 20px;
}

.contact-info p {
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #EBEBFF;
    padding: 5px;
    text-align: center;
}

.contact .contact-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 20px;
    padding-right: 20px;
}

.contact-form input[type="text"],
input[type="email"],
textarea {
    border-radius: 9px;
    padding: 12px 7px 12px;
    border: none;
    font-weight: 300;
    font-size: 15px;
}

.contact-form textarea {
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
}


/* ─── Media Query ────────────────────────────────────────────────────────── */

@media screen and (min-width: 1024px) {
    header {
        width: 100%;
        height: 100vh;
        left: 0px;
        top: 0px;
        background: #FFF
    }
    .nav-links {
        display: block;
    }
    .mobile-menu {
        display: none;
    }
    .navbar .nav-links ul {
        display: flex;
    }
    .navbar .nav-links ul li {
        margin: 0 25px;
    }
    .container {
        background: url(./images/Header-bg.svg);
        background-repeat: no-repeat;
        background: cover;
        width: 100vw;
        height: 100vh;
        margin: 0 15% !important;
    }
}